<!-- <button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="">Add Server</button>
<app-modul1></app-modul1>
<app-modul1></app-modul1> -->
<link rel="stylesheet" href="modul2.component.scss">
<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user[0]}}</h5>
            <p class="card-text">Your status is currently</p>
            <p [ngClass]="{online:currentStatus1==='online'}">{{currentStatus1}}</p>
            <button class="btn btn-primary" (click)="changeStatus1()">Switch Online!</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user[1]}}</h5>
            <p class="card-text">Your status is currently</p>
            <p [ngClass]="{online:currentStatus2==='online'}">{{currentStatus2}}</p>
            <button class="btn btn-primary" (click)="changeStatus2()">Switch Online!</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user[2]}}</h5>
            <p class="card-text">Your status is currently</p>
            <p [ngClass]="{online:currentStatus3==='online'}">{{currentStatus3}}</p>
            <button class="btn btn-primary" (click)="changeStatus3()">Switch Online!</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user[3]}}</h5>
            <p class="card-text">Your status is currently</p>
            <p [ngClass]="{online:currentStatus4==='online'}">{{currentStatus4}}</p>
            <button class="btn btn-primary" (click)="changeStatus4()">Switch Online!</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user[4]}}</h5>
            <p class="card-text">Your status is currently</p>
            <p [ngClass]="{online:currentStatus5==='online'}">{{currentStatus5}}</p>
            <button class="btn btn-primary" (click)="changeStatus5()">Switch Online!</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user[5]}}</h5>
            <p class="card-text">Your status is currently</p>
            <p [ngClass]="{online:currentStatus6==='online'}">{{currentStatus6}}</p>
            <button class="btn btn-primary" (click)="changeStatus6()">Switch Online!</button>
        </div>
    </div>
</div>